


// ======================
// Variables
// ======================

$primary-clr: rgb(197, 162, 254);
$bg-clr-one: rgb(20, 88, 88);
$bgr-clr-two: rgb(239, 142, 210);
$hover-clr: rgb(113, 228, 234);
$font-change: tahoma;
$standard-padding: 7rem 1rem;
