* {
  box-sizing: border-box;
  margin: 0;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 23, 23);
}

#wrapper:hover .card {
  transform: rotateY(0.5turn);
    /* transition: transform 2000ms linear; */ 

    /*  heen weg wanneer je erop hovert gebeurd er dit, wanneer je de .card geen eigen transitie heeft zonder hover flipt tie in 'e'en keer terug */

}

.card {
  height: 300px;
  width: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1000ms linear; 
  /*  wanneer je de transition hier op zet dan is dit zowel begin stand als eindstand, dus heen en terug
  wanneer je ook transitie op de #wrapper:hover .card zou zetten dan wordt deze stand overgeschreven tijdens de hover
  maar blijft de terugweg wel op deze transitie staan  */
  
}

.front,
.back {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.front {
  background: linear-gradient(
    10deg,
    rgb(231, 136, 188),
    rgb(66, 66, 178),
    rgb(182, 143, 244)
  );
  backface-visibility: hidden;
  z-index: 2;
}

.back {
  background: linear-gradient(45deg, rgb(222, 216, 179), rgb(15, 44, 15));
  z-index: 1;
  transform: rotateY(0.5turn);
  /*  same as 180 deg */
}

#wrapper {
  perspective: 1000px;
}
/*  perspetive of you and the computer */
